$hover-color: #fdb530;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.main-dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  &__header {
    padding-top: 5rem;
    text-align: center;

    h3 {
      font-size: 2rem;
    }

    h2 {
      font-size: 3rem;
    }
  }

  &__main-content {
    padding: 0 3rem;
    flex: 2;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 3rem 0;
  }

  &__card {
    // flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: start;
    padding: 2rem;
    width: 20rem;
    // max-width: 20rem;
    height: 20rem;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: transform 0.2s;

    svg {
      font-size: 5rem;
      transition: transform 0.2s;
    }

    span {
      font-family: "Poppins";
      margin: auto;
      font-size: 1.5rem;
      font-weight: 600;
      transition: transform 0.2s;
    }

    &:hover {
      cursor: pointer;
      border: 2px solid $hover-color;
      transform: scale(1.1);

      svg,
      span {
        color: $hover-color;
        transform: scale(1.1);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #e2e2e2;
  }

  &__info {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
  }

  &__top-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
  }

  &__bottom-text {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 0.95rem;
  }

  &__logout-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
    transition: transform 0.2s;

    svg {
      font-size: 1.8rem;
    }

    span {
      font-size: 1.3rem;
      font-weight: 600;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
