@import '/styles/variables.scss';

.container {
    display: flex;
    justify-content: right;
    padding: 1.1rem 1rem;
    padding-left: 20rem;
    .buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        .button {
            background: none;
            border: none;
            // color: $color--blue2;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s;
            &:hover {
                // color: $color--darkblue;
                transform: scale(1.1) translateY(-2.5px);
                cursor: pointer !important;
            }
        }
    }
}
