// COLORS
$color--black: #111;
$color--white: #ffff;
$color--primary: #cf5c36;
$color--green: #35b000;
$color--red: #e10000;

$color--darkblue: #586F7C;
$color--blue: #B8DBD9;
$color--blue2: #9cb4b4;
$color--white: #F4F4F9;
$color--maroon: #472836;

/*FONT SIZES*/
$h1FontSize: 4.209rem;
$h2FontSize: 3.157rem;
$h3FontSize: 2.369rem;
$h4FontSize: 1.777rem;
$h5FontSize: 1.333rem;
$bodyFontSize: 1rem;
$body2FontSize: 0.75rem;
$captionFontSize: 0.563rem;
$caption2FontSize: 0.422rem;

/* FONT WEIGHT */
$h1FontWeight: 900;
$h2FontWeight: 800;
$h3FontWeight: 700;
$h4FontWeight: 600;
$h5FontWeight: 500;
$bodyFontWeight: 400;
$body2FontWeight: 400;
$captionFontWeight: 400;
$caption2FontWeight: 400;