@import '../../../../styles/variables.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 360px;
    .header {
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
        background-color: black;
        color: white;
        padding: 1rem;
    }
    .content {
        overflow: auto;
        height: 20rem;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        .content_row {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            white-space: nowrap;
        }
    }
    .footer {
        display: flex;
        align-self: flex-end;
        padding: 1rem;
        button {
            border: none;
        }
    }
}