@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: fit-content;
    button {
        border: none;
    }
    .header{
        color: white;
        background-color: black;
        padding: 0.5rem;
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
    }
    .content_outer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
        .content_name {
            font-size: $h5FontSize;
            font-weight: $h4FontWeight;
        }
        .content_inner {
            display: flex;
            color: black;
            gap: 2rem;
            &_left {
                flex: 1;
            }
            &_right {
                flex: 1;
            }
            &_label {
                color: gray;
                font-weight: $bodyFontWeight;
                font-size: $bodyFontSize;
                margin-bottom: 1rem;
            }
            &_row {
                display: flex;
                align-items: flex-start;
                // justify-content: space-between;
                gap: 1rem;
                font-weight: $bodyFontWeight;
                font-size: 0.9rem;
                margin: 0.6rem 0;
            }
        }
    }
    .footer {
        padding: 1rem;
        align-self: flex-end;
    }
    
}
