.PaymentOrderTabCard {
	background: white;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	&__data {
		display: flex;
		flex: 1;
		justify-content: center;
		text-align: center;
	}
}
