.UnpaidOrderTabCard {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px rgb(134, 134, 134);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  &__header {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__data {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
  }
}

.remove-button {
  border: none;
  background-color: none;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: red;
  }
}
