.UnpaidOrderTabCard {
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px rgb(134, 134, 134);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-family: "SF Pro Text";
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	&__data {
		display: flex;
		flex: 1;
		justify-content: center;
		text-align: center;
	}
}
