@import '/styles/variables.scss';

.container {
    height: fit-content;
    width: fit-content;
    padding: 2.5rem;
    color: rgba(0, 0, 0, 0.6);
    // overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &::-webkit-scrollbar-track {
        border: 1px solid #a8a8a8;
        // padding: 1px 0;
        background-color: #a8a8a8;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #777777;
    border: 1px solid #777777;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .header {
            font-size: $h5FontSize;
            font-weight: $h5FontWeight;
        }

        .content {
            text-align: center;
            
            .row {
                margin: 1rem 0;
            }
        }

        .footer {
            display:flex;
            justify-content: right;
            width: 100%;

            button {
                border: none;
            }
        }
    }
    
}