@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    button {
        border: none;
    }
    .header {
        display: flex;
        justify-content: flex-start;
        padding: 0 1rem;
        .header_right {
            display: flex;
            gap: 0.5rem;
        }
    }
    .sub_header {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .left {
            display: flex;
            gap: 1rem;
            align-items: flex-end;
            .print_btn {
                &:hover {
                    transform: translateY(-2.5px);
                    cursor: pointer !important;
                    color: $color--primary;
                }
            }
        }
        .right {
            padding: 0;
            display: flex;
        }
    }
    .toolbar {
        display: flex;
        justify-content: space-between;
    }
    .table {
        height: 77vh;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        .print_btn_container {
            display: flex;
            justify-content: left;
            align-items: center;
            flex: 1;
            .print_btn {
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-3px);
                    color: $color--primary;
                }
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}