@import '/styles/variables.scss';

.container {
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px rgb(75, 74, 74);
    border-radius: 1rem;
    .header {
        display: flex;
        justify-content: center;
        font-size: $h5FontSize;
        font-weight: $h3FontWeight;
        height: fit-content;
        width: 100%;
        background-color: $color--black;
        color: white;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1rem;
    }
    .form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
        .row {
            display: flex;
            padding: 1rem;
            .btn_container {
                padding: 0 0.1rem;
            }
            .select {
                width: 300px;
            }
        }
    }
}