@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  scroll-padding-top: 3rem;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

 ::-webkit-scrollbar {
    width: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 0.3rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172);
    border-radius: 0.3rem;
  }