@import '/styles/variables.scss';

.section {
    // height: 100%;
    width: 100vw;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    button {
        border: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 30rem;
        padding: 1rem;
        gap: 3rem;
        .toggle_group {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .upper {
                font-size: $h3FontSize;
                font-weight: $h2FontWeight;
            }
            .lower {
                font-size: $bodyFontSize;
                font-weight: $h5FontWeight;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;  

            div {
                margin-top: 0.7rem;
            }
        }
        .btn_container {
            display: flex;
            justify-content: center;
            background: none;
        }
    }

} 