@import "../../../src/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.section {
  margin-left: 20rem;
  font-family: "Roboto", sans-serif;
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
