@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 20rem;
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    background-color: #111; 
    color: white;
    overflow-x: hidden; 
    padding: 1rem;
    .header {
        padding: 1rem;
        background-color: rgb(20, 20, 20);
        border-radius: 1rem;
        .text {
            color: grey;
            .upper {
                font-size: $h5FontSize;
                font-weight: $h3FontWeight;
            }
            .lower {
                font-size: $body2FontSize;
                font-weight: $h3FontWeight;
            }
        }
    }
    .menu {
        flex: 1;
        display: flex;
        padding: 1rem;
        ul {
            flex: 1;
            list-style: none;
            li {
                font-weight: $bodyFontWeight;
                font-size: $bodyFontSize;
                display: flex;
                flex-direction: column;
                padding: 0.5rem 0;
                gap: 0.5rem;
                .label {
                    width: 100%;
                    color: grey;
                    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
                    -webkit-user-select: none;
                    text-transform: uppercase;
                }
                .sidebar_item {
                    margin-top: 0.4rem;
                    gap: 0.1rem;
                    margin-left: 1rem;
                    font-size: $h5FontWeight !important;
                    color: white;
                    text-decoration: none;
                    transition: .4s, background-position 0s, transform 0.32s;
                    background: linear-gradient($color--primary 0 0) var(--p, 0) / var(--p, 0) no-repeat;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        transform: translateX(-15px);
                        --p: 100%;
                        color: #fff;
                    }
                    &_selected {
                        color: $color--primary;
                        transform: translateX(-15px);
                        font-weight: $h3FontWeight;
                    }
                    &_home {
                        margin-left: 0;
                        transform: none !important;
                        transition: .4s, background-position 0s;
                        background: linear-gradient($color--primary 0 0) var(--p, 0) / var(--p, 0) no-repeat;    
                        &:hover {
                            cursor: pointer;
                            --p: 100%;
                            color: #fff;
                        }
                    }
                }
            }  
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: rgb(32, 32, 32);
        border-radius: 1rem;
        align-items: center;
        color: grey;
        .user_container {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .current_user {
                display: flex;
                flex-direction: column;
                font-size: $bodyFontSize;
                font-weight: $h4FontWeight;
                overflow-wrap: break-word;
                word-wrap: break-word;
            }
            .current_type {
                color: rgb(99, 98, 98);
                text-transform: uppercase;
                font-size: $body2FontSize;
                font-weight: $h3FontWeight;
            }
        }
        .logout_btn {
            width: 10%;
            transition: transform 0.5s;
            &:hover {
                color: $color--primary;
                cursor: pointer;
                transform: translateX(4px);
            }
        }
    }
}

