.UnpaidOrderTab {
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 10px 10px 20px;
  padding: 0 0.6rem;
  gap: 1rem;
  width: 450px;
  background-color: #fafafa;
}

.pay-button {
  background-color: #003049;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: transform 0.3s;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-transform: capitalize;
    font-family: "ABeeZee";
    font-weight: 100;
    font-size: 10px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(0.98);
  }
}

.header-section {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .orderno-section {
    position: sticky;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-between;
    h1 {
      font-family: "SF Pro Text";
      font-style: bold;
      font-weight: 600;
      font-size: 30px;
      line-height: 14px;
      margin-top: 10px;
    }
    .print-icon {
      right: 0;
      transition: transform 0.3s;
      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
    .print-icon:active {
      transform: translateY(-5px);
    }
    .print-none {
      display: none;
    }
  }
  .title-section {
    display: flex;
    justify-content: space-between;

    &__text {
      flex: 1;
      text-align: center;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.component-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  overflow: auto;

  .Quantity-Component {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: auto;
    margin-left: 30px;
  }
  .Menuname-Component {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
  }
  .Price-Component {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
    margin-left: auto;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #fafafa;
  .Subtotal-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

    .Subtotal {
      font-family: "ABeeZee";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-align: left;
      margin-right: auto;
      margin-left: 10px;
    }

    .SubtotalPrice {
      display: flex;
      margin-left: auto;
      margin-right: 10px;
      font-family: "ABeeZee";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.CustomerPayment-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;

  .CustomerPayment {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
  }

  .CustomerPaymentPrice {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}

.Discounted-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;

  .Discount {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
  }

  .DiscountPrice {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}

.Total-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;

  .Total {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
  }

  .TotalPrice {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}

.Change-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;

  .Change {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    margin-right: auto;
    margin-left: 10px;
  }

  .ChangePrice {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    width: 65px;
    height: 24px;
    background: rgb(0, 168, 0);
    color: #fafafa;
    border-radius: 30px;
  }
}

.none {
  display: none;
}

.Paystyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border: 3px solid;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  user-select: none;
  justify-content: space-between;

  .Close_Button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: 3px solid #000000;
  }
  .Close_Button:active {
    box-shadow: 0 5px #666;
    transform: translate(2px);
    background-color: #f80707bc;
  }
  .TableNumber {
    width: 60%;
  }
  .Radio {
    color: #003049;
  }

  .Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    .Header {
      padding: 1rem;
    }
    .Text-Section {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      width: 100%;
      padding: 0 2rem;
      gap: 1.5rem;
      height: 30vh;
      overflow: auto;
      .Input-Section {
        display: flex;
        align-items: center;
      }
      .Output-Section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        &__label {
          text-transform: capitalize;
          color: #000000;
        }
      }

      .Input-Section--Discount {
        display: flex;
        flex-direction: row;
        gap: 5px;

        h1 {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          //   text-align: center;
          display: inline-block;
          white-space: nowrap;
        }

        .Input-Forms--Discount {
          margin-left: auto;
          margin-right: 0;
          width: 200px;
          font-size: 12.5px;

          border-radius: 4px;
          border-color: #ced4da;
          padding: 5px;
          ::placeholder {
            color: #6c757d;
            opacity: 1;
            font-size: 12px;
          }
        }
        .Percentage {
          font-size: 16px;
          display: flex;
          align-items: center;
          margin-right: 10px;
        }
      }
    }
    .Button-Section {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .Confirm_Button {
        width: 128px;
        height: 45.84px;
        box-sizing: border-box;
        background: #36cd1d;
        border: 3px solid #000000;
        color: white;
        justify-content: center;

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
