.inactive-items-button{

    border: 0;
    background-color: #9B9B9B;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;


    &__container{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    
    &__label{
        font-size: 1.2rem;
        color: #ffffff;
        text-align: center;
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            color:#ffffff;
            font-size: 1rem;
        }
    }
    
    
    
    
}