@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    button {
        border: none;
    }
    .content {
        flex: 1;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding: 1rem;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .tables {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            display: flex;
            gap: 1rem;
            justify-content: space-around;
            .active_table {
                flex: 1;
                box-shadow: 1px 1px 6px rgb(75, 74, 74);
                display: flex;
                flex-direction: column;
                .header {
                    // flex: 0 1 auto;
                    padding: 1rem 1rem 0 1rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 3rem;
                    .left {
                        font-size: $bodyFontSize;
                        font-weight: $h3FontWeight;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                }
                // .sub_header {
                //     display: flex;
                //     flex-direction: row;
                //     align-items: flex-end;
                //     justify-content: space-between;
                //     padding: 0.5rem 1rem;
                // }
                .table {
                    flex: 1;
                    .edit_button {
                        color: $color--primary;
                    }
                }
            }
            .inactive_table {
                flex: 1;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}