@import '/styles/variables.scss';

.container {
    height: 100%;
    box-shadow: 1px 1px 6px rgb(75, 74, 74);
    display: flex;
    flex-direction: column;
    .header {
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        .left {
            font-size: $bodyFontSize;
            font-weight: $h3FontWeight;
            text-transform: uppercase;
        }
    }
    .table {
        // overflow-y: scroll;
        flex: 1;
    }
}