@import '/styles/variables.scss';

.section {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    .content {
        position: relative;
        margin-left: 20rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        .left {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            font-weight: 500;
            width: 50%;
            height: 100%;
        }
        .right {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: top;
            width: 50%;
            height: 100%;
        }
    }
}