@import '/styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    button {
        border: none;
    }
    .form {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            font-size: $h5FontSize;
            text-align: center;
        }
        .content {
            margin: 2rem 0;
            font-size: $bodyFontSize;
            .content_header {
                font-weight: $h3FontWeight;
            }
        }
        .footer {
            display: flex;
            align-self: flex-end;
        }
    }
}