.dashboard-clock{
    display: flex;
    background-color: white;
    border-radius: 50%;
    color: black;
    size: 10px;
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding-left: 200px;
}