@import '/styles/variables.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 100%;
    padding: 1rem;
    .header {
        text-align: center;
        font-size: $h5FontSize;
        font-weight: $h4FontWeight;
    }
    .content {
        overflow-y: scroll;
        height: 10rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .content_row {
            display: flex;
            gap: 2rem;
        }
    }
    .footer {
        display: flex;
        align-self: flex-end;
        button {
            border: none;
        }
    }
}