.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1 1 auto;
    .title_bar {
        width: 100%;
        position: sticky;
        top: 0;
        height: fit-content;
        background: none;
    }
    .content {
        position: relative;
        // overflow-y: scroll;
        overflow-x: hidden;
        flex: 1;
        background-color: rgb(255, 255, 255);
    }
}