@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    .header {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: $h4FontSize;
        font-weight: $h1FontWeight;
        height: 5rem;
        .left {
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: transform 0.2s;
            .print_btn {
                &:hover {
                    transform: translateY(-2.5px);
                    cursor: pointer !important;
                    color: $color--primary;
                }
            }
        }
    }
    .table {
        // overflow-y: scroll;
        // flex: 1;
        height: 80vh;
        .edit_button {
            z-index: 999;
            color: $color--primary;
        }
    }
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        .print_btn_container {
            display: flex;
            justify-content: left;
            align-items: center;
            flex: 1;
            .print_btn {
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-3px);
                    color: $color--primary;
                }
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
    .header {
        font-size: $h5FontSize;
    }
    .content {
        font-size: $h5FontSize;
        padding: 3rem 0;
    }
    .footer {
        display: flex;
        align-self: flex-end;
    }
}