@import '/styles/variables.scss';

.container {
    height: 100%;
    box-shadow: 1px 1px 6px rgb(75, 74, 74);
    display: flex;
    flex-direction: column;
    .header {
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        .left {
            font-size: $bodyFontSize;
            font-weight: $h3FontWeight;
            text-transform: uppercase;
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            transition: transform 0.2s;
            .print_btn {
                &:hover {
                    transform: translateY(-2.5px);
                    cursor: pointer !important;
                    color: $color--primary;
                }
            }
        }
    }
    .table {
        flex: 1;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}