.container {
	width: 100%;
	max-width: 800px;
	padding: 0 10px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: auto;

	table {
		margin-top: 20px;
		border-collapse: collapse;
		width: 100%;
		border: 1px solid black;
	}

	tr th {
		font-size: 18px;
		padding: 12px;
		border: 1px solid black;
		align-items: center;
		background-color: #003049;
		color: white;
	}

	tr td {
		border: 1px solid black;
		text-align: left;
	}

	.column__clickable {
		font-size: 16px;
		background-color: transparent;
		border: none;
		padding: 12px 12px;
		font-family: "Poppins", sans-serif;
		text-align: left;
		width: 250px;
		word-wrap: break-word;
		&:hover {
			background-color: #cccccc;
		}
	}

	.column__unclickable {
		font-size: 16px;
		background-color: transparent;
		border: none;
		width: 100%;
		padding: 12px 12px;
		font-family: "Poppins", sans-serif;
		text-align: left;
		width: 120px;
		word-wrap: break-word;
	}
}

.title {
	text-align: center;
	font-size: 26px;
	margin-bottom: 30px;
}

.style {
	position: absolute;
	user-select: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 566px;
	height: 410px;
	display: flex;
	background-color: #fafafa;
	border: 3px solid;
	border-radius: 6px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	.Wrapper {
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 100px;
	}
	.Close_Button {
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 0.5rem;
		margin-top: 0.5rem;
		background-color: red;
		color: white;
		box-shadow: 0 5px #666;
		border: 3px solid #000000;
		transition: transform 0.2s;
		&:hover {
			transform: translateY(2px);
			background-color: #ff0000;
		}
	}
	.Image-Section {
		margin-left: 0.5rem;
		margin-top: 0.5rem;
	}

	.Text-Section {
		h1 {
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 10px;
		}
	}
}
