@import '/styles/variables.scss';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    button {
        border: none;
    }
    .content {
        flex: 1;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: top;
        padding: 1rem;
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .tables {
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
            display: flex;
            gap: 1rem;
            justify-content: space-around;
            .active_table {
                flex: 1;
            }
            .inactive_table {
                flex: 1;
            }
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}