@import '../../../src/styles/variables.scss';

.section {
    display: flex;
    width: 100%;
    // height: 100vh;
    .content {
        position: relative;
        margin-left: 20rem;
        display: flex;
        align-items: center;
        // justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}

.title_bar {
    width: 100%;
    position: sticky;
    top: 0;
    height: fit-content;
    background-color: white;
}

.home-page{
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: scroll;

    &__body{
        display: flex;
        padding-top: 1rem;
        margin-left: 20rem;
    }

    &__contents{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
    }
    
    &__date-section{
        width: 900px;
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}