@import '/styles/variables.scss';

.section {
    // height: 100vh;
    margin-left: 20rem;
    .content {
        display: flex;
        height: 90vh;
        // flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
}