@import '../../../src/styles/variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

.section {
    // height: 100vh;
    margin-left: 20rem;
    font-family: "Roboto", sans-serif;
    .content {
        display: flex;
        height: 90vh;
        // flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
}