.add-supply-category-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20rem;
  top: 12%;
  overflow: scroll;
  min-height: 18rem;
  max-height: 90%;
  display: block;
  border-radius: 10px;
  background-color: #ffffff;
  border: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__text-field {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 1.3rem;
  }

  &__text {
    font-family: Helvetica, Arial, sans-serif;
  }

  &__content {
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
