.MenuOrderTabCard {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  user-select: none;
}
.Remove-Section {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;

  button {
    display: flex;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      background-color: red;
    }
  }
}

.Txt-Section {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Title-Section {
  display: flex;
  flex-direction: column;
  width: 50%;

  h2 {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }

  .Counter-Section {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    gap: 5px;
    width: 100%;
    &__quantity {
      font-family: "SF Pro Text";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      width: 100px;
      overflow: auto;
      display: flex;
      align-self: flex-end;
    }
  }
  button {
    background-color: white;
    border: 1px solid white;
  }
  button:active {
    transform: translateY(-3px);
  }
}

.Price-Section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding: 10px 0;

  p {
    padding-right: 15px;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    width: 100px;
    overflow: auto;
    align-self: center;
  }
}
