@import "../../../../styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  .header {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    font-weight: $h4FontWeight;
    font-size: $h5FontSize;
  }
  .content {
    width: 100%;
    padding: 1rem;
    display: flex;
  }
  .footer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
    button {
      border: none;
    }
  }
}
