@import '/styles/variables.scss';

.container {
    .header {
        padding: 1rem;
        font-size: $bodyFontSize;
        font-weight: $h3FontWeight;
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            gap: 1rem;
            align-items: flex-end;
            .print_btn {
                &:hover {
                    transform: translateY(-2.5px);
                    cursor: pointer !important;
                    color: $color--primary;
                }
            }
        }
    }
    .table_container {
        height: 50vh;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    // padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .close_btn {
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 700;
        padding: 1rem;
        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}