@import '../../../src/styles/variables.scss';

.title_bar {
    width: 100%;
    position: sticky;
    top: 0;
    height: fit-content;
}

.section {
    margin-left: 20rem;
    button {
        border: none;
        background: none;
    }
    .content {
        display: flex;
        height: 90vh;
        // flex-direction: column;
        justify-content: center;
        width: 100%;
        flex: 1;
    }
}