@import '/styles/variables.scss';

.container {
    background-color: white;
    text-decoration: none;
    font-size: $h5FontSize;
    text-align: center;
    border-radius: 10rem;
    border: 2px solid grey;
    width: fit-content;
    padding: 0.3rem 2rem;
    
    &:hover {
        cursor: pointer;
        background-color: grey;
        color: white;
    }
}