.inactivate-button{
    border: 0;
    background-color: #f75b75;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;

    &:disabled{
        background-color: #fabcc7;
        cursor:default;
    }
    


    &__container{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    
    &__label{
        font-size: 1.2rem;
        color: #ffffff;
        text-align: center;

    }

    &__icon{
        svg{
            color:#ffffff;
            font-size: 1rem;
        }

    }



}